.toneteller-div {
    display: flex;
    flex-direction: column;
    height: calc(100vh);
    justify-content: space-between;
    overflow: hidden;
    background-color: var(--baby-yellow);
}

.toneteller-text>.heading-3 {
    margin-bottom: 5px;
    align-items: center;
    flex-direction: column;
}

.toneteller-input-div {
    display: flex;
    gap: 10px;
}

.toneteller-input-div>input {
    padding: 12px;
    width: 100%;
    border: 2px solid #000;
    border-radius: 4px;
    font-family: 'Cantarell';
    font-size: 1rem;
    line-height: 1.25rem;
}

.toneteller-text,
.enter-prompt-div {
    padding: 20px;
}

.toneteller-text>.heading-3 {
    margin-bottom: 20px;
}

.enter-prompt-div {
    background-color: var(--yellow-100);
    border-top: 2px solid var(--black);
}

.enter-prompt-input-text {
    margin-bottom: 10px;
}

.characters-grid {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 0px;

}

.characters-column {
    width: calc(20%);
    flex-direction: row !important;
    margin-left: auto;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}

.characters-img {
    border-radius: 20px;
    width: 120px;
    height: 120px;
    aspect-ratio: 1 / 1;
    margin-bottom: 20px;
    padding: 20px;
}

.characters-img>img {
    width: 100%;
}