/*
PADDING
*/

.storytime-text {
    text-align: left;
    background-color: var(--light-coral);
    padding: 20px;
    padding-bottom: 40px;
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #FFFFFF;
}

.storytime-button {
    text-align: left;
    background-color: var(--light-coral);
    padding-top: 70px;
    justify-content: flex-end;
    flex-direction: column;
    color: #FFFFFF;
}