/*
PADDING
*/
* {
    font-family: 'GloriaHallelujah';

}

.landing-content {

    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    background-color: #F8AD9D;

}

.primary-button { 
    width: 180px;
}

.heading-4 {
    background-color: #F8AD9D;
    font-family: 'GloriaHallelujah';
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.storytime-text {
    text-align: left;
    border-radius: 0.5rem;
    background-color: #FFFAEE;
    padding: 20px;
    padding-bottom: 40px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    /* Adjust the padding-bottom to create space */
    /* Adjust the total height minus padding */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Align content to the top */
    color: #000000;
}
.storytime-text > p {
    margin: auto;
    width: 400px;
}

.storytime-button {
    background-color: #F8AD9D;
    padding-top: 70px;
    justify-content: flex-end;
    flex-direction: column;
    color: #000000;
}

.new-tale-button { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.storytext-img {
    width: 200px;
    height: 200px;
    border-radius: 0.5rem;
}

.storytext-button {
    display: flex;
    flex-direction: row;
    margin: auto;
    column-gap: 2rem;
    padding: 1rem;   
}

.profile-pics-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    column-gap: 1rem;   

}
.profile-pics-container > h3 { 
    width: 220px;
    font-size: 20px;
    text-wrap: none;
}

.profile-pics > div > img { 
    width: 70px;
    height: 70px;
    border-radius: 100%;
    
}

.profile-pics {
    display: flex;
    flex-direction: row;  
    column-gap: 1rem; 
}

.profile-pics > div { 
    justify-content: center;
    align-items: center;
    text-align: center;
}