.Story-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 4rem;
    background-color: #FFFAEE;

}

.audio-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    height: 100px;
    width: 700px;
    background-color: #FFFAEE;
<<<<<<< HEAD
    border-radius: 0.5rem;
    color: #F08080;
=======
>>>>>>> 6978532bd25cbda1c1d023e299e0f22bbcd44895

}


.Story-container button {
    width: 100px;
    height: 30px;
    justify-self: center;
    background-color: #F8AD9D;
    border-radius: 20px;
}


.story-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    height: 450px;
    width: 700px;
    margin: auto;
    padding-top: 2rem;
}

.story-part img {
    width: 90%;
    height: 260px;
}

.story-part p {
    padding: 0rem 1rem 1rem 1rem
}